<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="login">
    <mat-card class="box center">
      <mat-card-header>
        <mat-card-title>Sign-in</mat-card-title>
      </mat-card-header>

      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="primary" class="btn-block">Sign-in</button>
       
        <button mat-stroked-button color="accent" class="btn-block">Sign-up</button>
      </form>
    </mat-card>
  </div>

</div>
